/* =========================
   ДЛЯ ИГРЫ НА ПОВТОР ПОСЛЕДОВАТЕЛЬНОСТИ
========================= */

.card.activeCell {
  background: rgb(238, 217, 28);
  color: black;
  border-color: #c9a400;
}

.card.wrongClick {
  background: #ff5f5f;
  color: black;
  border-color: #ff1f1f;
}

.card.rightClick {
  background: #7dff9b;
  color: black;
  border-color: #3fcf68;
}
