/* =========================
   ИГРОВОЕ ПОЛЕ
========================= */

.game-grid {
  display: grid;
  gap: 10px;

  justify-content: center;

  width: fit-content;
  max-width: 100%;

  margin: 0 auto;
  overflow-x: auto;
}

.sequence-status {
  min-height: 135px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* =========================
   ДЛЯ ИГРЫ НА ПОВТОР ПОСЛЕДОВАТЕЛЬНОСТИ
========================= */

.card.activeCell {
  background: rgb(238, 217, 28);
  color: black;
  border-color: #c9a400;
}

.card.wrongClick {
  background: #ff5f5f;
  color: black;
  border-color: #ff1f1f;
}

.card.rightClick {
  background: #7dff9b;
  color: black;
  border-color: #3fcf68;
}

/* =========================
   ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ
========================= */

@media (max-width: 580px) {
  .game-grid {
    transform: scale(0.85);
    transform-origin: top center;
  }
}
